.DS_Store
application/config/database.php
application/config/constants.php
application/config/ftp.php
extranet/application/config/database.php
extranet/application/config/routes.php
extranet/application/config/constants.php
extranet/application/config/ftp.php
filemanager/config/*
phppgadmin
adminer
HEAD
description
hooks/
info
objects
refs
uploads/
thumbs/
db_bak

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*


# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
extranet/attachment/
